main{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-color: #18b1b46a;
}

.container{
    max-width: 1020px;
    margin: 0 auto;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    margin: 4rem;
}

.flex{
    background: url(../img/image.jpg) center center ;
    min-height: 80vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    width: 450px;
    border-radius: 20px  0 0 20px;
}

/* .about .titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    color: #18b1b4b6;
    font-size: 1.5em;
    opacity: 0.8;
    text-align: center;
    gap: 10px;
    font-family: 'poppins';
} */
img{
    width: 100%;
    object-fit: cover ;
}

.login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 0 20px 20px 0;
}

.card{
    padding: 40px;
    width: 380px;
}

.card-header a{
    color: #575252c7;
    font-size: 2em;
    font-family: 'poppins';
    letter-spacing: 4px;
    text-align: center;
}

.card-header .logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
}

.card-header .logo  .fa-user{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    font-size: 40px;
    border: 1px solid rgba(128, 128, 128, 0.815);
    border-radius: 50%;
    /* padding: 11px; */
}

.card-content-area label{
    color: #575252c7;
    font-size: 1.2em;
    opacity: 0.8;
    font-family: 'poppins';
}

.card-content-area {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

.card-content-area input {
    margin-top: 20px;
    font-size: 18px;
    padding:0 5px;
    background-color: transparent;
    border:none;
    border-bottom: 1px solid #e1e1e1;
    outline: none;
    color: #575252c7;
}

.card-footer {
    display: flex;
    flex-direction: column;

}

.card-footer .submit{
    width: 100%;
    height: 40px;
    font-size: 1.2em;
    background-color: #27928d;
    border:none;
    color:#e1e1e1;
    margin: 25px 0;
    font-family: 'poppins';
    transition: 0.3 ease-in-out;
}

.card-box{
    margin:0 12px 0 0;
    vertical-align: middle;
    position: relative;
    top: -1px;
    padding: 0 20px 20px 0;
}

.card-box label{
    color: #575252c7;
    font-size: 1em;
    font-family: 'poppins';
}

.card-box label a{
    color:rgba(0, 0, 255, 0.536)
}

.card-footer .submit:hover{
    background-color: rgba(220, 20, 60, 0.701);
}

.card-redes{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7px;
    padding-top: 7px;
}

.card-redes i{
    margin: 7px;
    font-size: 19px;
    border-radius: 50%;
    border: 2px solid #fff;
    display: inline-flex;
    align-items: center;
    width: 40px;
    height: 40px;
    justify-content: center;
    color: #fff;
}

.fa-facebook-f{
    background-color: #20293C;
}

.fa-google-plus-g, .fa-pinterest-p{
    background-color: #7f362cd8;
}

.fa-twitter{
    background-color: rgba(44, 44, 182, 0.87);
}

.card-redes i:hover{
    background-color: rgba(128, 128, 128, 0.618);
}

.card-footer a {
    text-align: center;
    font-size: 1em;
    opacity: 0.8;
    color: rgba(82, 82, 236, 0.809);
    text-decoration: none;
    font-family: 'poppins';
}

.card-footer a:hover{
    color: rgb(48, 48, 204);
}

.recuperacao{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    gap: 10px;
    text-decoration: underline;
}


@media screen and (max-width: 900px){
    main{
        margin: auto;
        background-color: #fff;
    }
    .wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        box-shadow: none;
    }
    
    .flex{
        display: none;
    } 

    .login{
        width: 100%;
        height: 100%;
    }

    .card{
        width: 100%;
        max-width: 400px;
        margin: auto;
    }

    .card-header h2, i{
        color: #575252c7;
    }

    .card-header h2::first-letter{
        color: #27928d;
    }

    .card-content-area {
        padding: 40px 0;
    
    }

    .card-content-area label{
        color: rgb(14, 13, 13);
        font-weight: 400;
    }

    .card-content-area input {
        color: #000;
        border-bottom: 1px solid rgb(79, 77, 77);
    }

    .card-box label{
        color: #3e3d3d;
        font-weight: 400;
    }

    .card-footer a{
        color: rgba(0, 0, 0, 0.886);
        font-weight: 700;
    }

    .recuperacao a{
        color: rgba(0, 0, 255, 0.536);
    }
}